#claim-submitted-view
  vfi-breadcrumbs(page="3")
  #claim-submitted-wrapper
    div.header
      div.header-icon-wrapper(ng-class="{'rejected': rejected}")
        div.header-icon
      h2(ng-show="!rejected") Submitted!
      h2(ng-show="rejected") Claim Rejected

    div.message.error(ng-show="rejected")
      p Sorry, but it seems like your claim was rejected. You may either:
      ul
        li Click #[a(ui-sref="root.claimconfirm({claimId: claimId})") here] to double-check that your information is correct.
        li #[a(href="#/contact") Contact us] for additional help.
        li Download your claim #[a(ui-sref="root.profile.claims") here] to bring to your nearest Veterans Affairs branch.

    div.message.success(ng-show="!rejected")
      p Congratulations!
      p Your claim and all of its forms have been successfully sent to the VA.
      p
        | Expect your electronic copies to be sent to you within 5-10 minutes and
        br
        | look for your physical copies in the mail within 1-2 weeks.
      p Thank you so much for using Vetafi! View your finished claim #[a(ui-sref="root.profile.claims") here].

vfi-footer
