#select-forms-view
  #select-forms-wrapper
    h3 Select Forms for Claim

    div.section.required
      div.section-header
        h4 Required Forms:
        uib-progressbar.progressbar(value="numRequiredCompleted", max="allForms.length", type="{{progressBarType}}")
          span {{numRequiredCompleted}}/{{allForms.length}}

      div.form-wrapper(ng-repeat="form in requiredForms")
        div.form-content
          div.state-wrapper
            div.state-icon
          div.form-title {{form.title}}
          div.form-summary {{form.summary}}
        div.form-buttons
          button.edit-btn
            div.edit-icon
            | Edit
          button.download-btn
            div.download-icon
            | Download

    div.button-wrapper
      button.cancel-btn Cancel
      button.done-btn(ng-class="{'ready':numRequiredCompleted == requiredForms.length}") Done
      div.clearer

vfi-footer
