#claim-view(ng-controller="claimViewCtrl")
  div.claim-header
    div.vfi-title {{claim.title}}
    div.vfi-subtitle {{claim.subtitle}}
    div.vfi-actions
      button.vfi-edit-btn
        div.vfi-icon
        div.vfi-hover-msg Edit claim
      button.vfi-discard-btn
        div.vfi-icon
        div.vfi-hover-msg Discard claim

  div.claim-body
    div.file-content(ng-repeat="file in claim.files")
      div.file-text-wrapper
        div.file-title {{file.name}}
        div.file-description {{file.description}}
      button.vfi-download-btn
        img(src="../icons/download.svg")
        div.vfi-hover-msg Download this file
