#claim-start-view
  h2.vfi-header Start Claim
  div.vfi-divider
  p Words
  p Words
  p Words
  p Words
  p Are you ready to proceed?
  div.button-wrapper
    button.vfi-next(ng-click="onClickNext()") Proceed
