#select-forms-view(ng-controller="claimSelectFormsCtrl")
  h2.vfi-header Select Forms to Fill
  div.vfi-form-card
    div.vfi-form-title
    div.vfi-form-description
    input(type='checked')
  button.vfi-finish-btn(ng-click="onClickFinish()") Finish
