#select-forms-view
  vfi-breadcrumbs(page="1")
  #select-forms-wrapper
    h3 Select Forms for Claim

    div.section.required
      div.section-header
        h4 Required Forms:
        uib-progressbar.progressbar(value="numRequiredCompleted", max="numRequiredForms", type="{{numRequiredCompleted == numRequiredForms ? 'success' : 'info'}}")
          span {{numRequiredCompleted}}/{{numRequiredForms}}

      div.form-wrapper(ng-repeat="(formId, form) in allForms")
        div.form-content
          div.state-wrapper(ng-class="{'required': form.vfi.required, 'complete': myForms[formId] && myForms[formId].answered > 0 && myForms[formId].answered == myForms[formId].answerable}")
            div.state-icon
          div.form-title-wrapper
            h5.title(ng-class="{'required': form.vfi.required}") {{formId}}
            h5.warning.required(ng-if="form.vfi.required && !(myForms[formId] && myForms[formId].answered > 0 && myForms[formId].answered == myForms[formId].answerable)") &nbsp;(required)
            h5.subtitle {{form.vfi.title}}
          div.form-summary {{form.vfi.summary}}
        div.form-buttons
          button.edit-btn(ui-sref="root.form({claimId: claimId, formId: formId})")
            div.edit-icon
            | Edit
          button.download-btn
            div.download-icon
            | Download

    div.button-wrapper
      button.cancel-btn(ng-click="onClickCancel()") Cancel
      button.done-btn(ng-class="{'ready':numRequiredCompleted == numRequiredForms}" ng-click="onClickDone()") Done
      div.clearer

vfi-footer
