#select-forms-view
  vfi-breadcrumbs(page="1")
  #select-forms-wrapper
    h3 Select Forms for Claim

    div.section.required
      div.section-header
        h4 Required Forms:
        uib-progressbar.progressbar(value="numRequiredCompleted", max="requiredForms.length", type="{{progressBarType}}")
          span {{numRequiredCompleted}}/{{requiredForms.length}}

      div.form-wrapper(ng-repeat="form in requiredForms")
        div.form-content
          div.state-wrapper(ng-class="{'required': form.state=='required_incomplete', 'complete': form.state=='complete'}")
            div.state-icon
          div.form-title-wrapper
            h5.title(ng-class="{'required': form.state=='required_incomplete'}") {{form.id}}
            h5.warning.required(ng-if="form.state=='required_incomplete'") &nbsp;(required)
            h5.subtitle {{form.unofficialTitle}}
          div.form-summary {{form.unofficialDescription}}
        div.form-buttons
          button.edit-btn(ui-sref="root.form({claimId: claimId, formId: form.id})")
            div.edit-icon
            | Edit
          button.download-btn
            div.download-icon
            | Download

    div.button-wrapper
      button.cancel-btn Cancel
      button.done-btn(ng-class="{'ready':numRequiredCompleted == requiredForms.length}") Done
      div.clearer

vfi-footer
