#claim-confirm-view(ng-controller="claimConfirmCtrl")
  h2.vfi-header Confirm Claim
  div.vfi-divider
  p Words
  p Words
  p Words
  p Words
  p Is everything correct?
  div.button-wrapper
    a(href="#/claim/start")
      button.vfi-back Back
    a(href="#/claim/submitted")
      button.vfi-confirm Yes, Submit
