#claim-submitted-view(ng-controller="claimSubmittedCtrl")
  div.vfi-header Claim Submitted
  div.vfi-divider
  p Words
  p Words
  p Words
  p Words
  p You can view your claim here
  a(href="#/profile/claims") here
