#claim-confirm-view(ng-controller="claimConfirmCtrl")
  div.vfi-header Confirm Claim
  div.vfi-divider
  p Words
  p Words
  p Words
  p Words
  p Is everything correct?
  div.button-wrapper
    button.vfi-back Back
    button.vfi-confirm Yes, Submit
