#select-forms-view
  vfi-breadcrumbs(page="1")
  #select-forms-wrapper
    h3 Select Forms for Claim

    div.section.required
      div.section-header
        h4 Required Forms:
        uib-progressbar.progressbar(value="numRequiredCompleted", max="numRequiredForms", type="{{progressBarType}}")
          span {{numRequiredCompleted}}/{{numRequiredForms}}

      div.form-wrapper(ng-repeat="(formId, form) in forms")
        div.form-content
          div.state-wrapper(ng-class="{'required': formTemplates[form.key].required, 'complete': form.answered == form.answerable}")
            div.state-icon
          div.form-title-wrapper
            h5.title(ng-class="{'required': formTemplates[form.key].required}") {{form.id}}
            h5.warning.required(ng-if="form.state == formTemplates[form.key].required") &nbsp;(required)
            h5.subtitle {{formTemplates[form.key].unofficialTitle}}
          div.form-summary {{formTemplates[form.key].unofficialDescription}}
        div.form-buttons
          button.edit-btn(ui-sref="root.form({claimId: claimId, formId: formId})")
            div.edit-icon
            | Edit
          button.download-btn
            div.download-icon
            | Download

    div.button-wrapper
      button.cancel-btn Cancel
      button.done-btn(ng-class="{'ready':numRequiredCompleted == numRequiredForms}") Done
      div.clearer

vfi-footer
