#claim-confirm-view
  #claim-confirm-wrapper
    h2.header Confirm Claim

    div.section.intro
      h4 Hi {{user.firstName}}!
      div.row
        div.col-sm-6
          p
            |You are one step away from submitting your claim.
            |Please look over your submission and click on Submit if everything is correct.
        div.col-sm-6
          button.confirm-btn(ng-click="onClickConfirm()") Submit

    div.section.basic-info
      h4 General
      div.basic-row
        span Name:
        span {{user.firstName}} {{user.lastName}}
      div.basic-row
        span Today's date:
        span 9/12/2016
      div.basic-row
        span Number of forms:
        span {{formsList.length}}

    div.section.mailing-list
      div.section-header
        h4 Mail physical copies to:
      div.container-fluid
        div.row-wrapper.row(ng-repeat="mailingInfo in mailingList")
          div.title.col-sm-5
            b {{mailingInfo.title}}
          div.address.col-sm-5
            div.address-line {{mailingInfo.address.sendTo}}
            div.address-line {{mailingInfo.address.line1}} {{mailingInfo.address.line2}}
            div.address-line {{mailingInfo.address.city}}, {{mailingInfo.address.state}}, {{mailingInfo.address.country}} {{mailingInfo.address.zip}}
          button.col-sm-2(ng-click="onClickEditAddress($index)", ng-if="$index > 0")
            div.edit-icon
            | Edit
        div.row-wrapper.add-row.row
          button.add-btn.col-sm-12(ng-click="onClickAddAddress()")
            div.add-icon
            | Add Address


    div.section.email-list
      div.section-header
        h4 E-mail electronic copies to:
      div.container-fluid
        div.row-wrapper.row(ng-repeat="emailInfo in emailList")
          div.name.col-sm-5
            b {{emailInfo.name}}
          div.title.col-sm-5 {{emailInfo.email}}
          button.col-sm-2(ng-click="onClickEditEmail($index)")
            div.edit-icon
            | Edit
        div.row-wrapper.add-row.row
          button.add-btn.col-sm-12(ng-click="onClickAddEmail()")
            div.add-icon
            | Add Email

    div.section.forms-list
      div.section-header
        h4 Forms:
        button(ui-sref="root.claimselect({claimId: claimId})")
          div.edit-icon
          | Review Forms
      div.container-fluid
        div.row-wrapper.row(ng-repeat="form in formsList")
          div.form-name.col-sm-5
            b {{form.title}}
          div.form-description.col-sm-7 {{form.summary}}

    div.button-wrapper
      button.back-btn(ui-sref="root.claimselect({claimId: claimId})") Back
      button.confirm-btn(ng-click="onClickConfirm()") Submit

vfi-footer
