#faq-view(ng-controller="faqCtrl")

  div.search-wrapper
    div.search-icon
    input.search-bar(type="text" ng-model="searchText" ng-change="onSearchChange()" placeholder="Search frequently asked questions")
    button.cancel-icon(ng-click="cancelSearch()" ng-show="searchText.length > 0")

  div.section-card(ng-repeat="section in sections | filter:searchText")
    div.section-title {{section.title}}
    div.section-divider
    div.section-content {{section.content}}

  // Error Message if search results are empty
  div.section-card.vfi-error(ng-show="(sections | filter:searchText).length == 0")
    div.warning-icon
    div.section-content
      | Looks like we can't find what you searched for.
      br
      | Try simplifying your search keywords to get more results.
