div#vfi-footer-view
  div.footer-wrapper.container

    div.footer-layout.links.row
      div.footer-section.col-sm-6
        a(ui-sref="root.home") Home
        a(href="") About Us
        a(ui-sref="root.faq") FAQ
      div.footer-section.col-sm-6
        a(ui-sref="root.profile", ng-if="isLoggedIn") My Profile
        a(ui-sref="root.tos") Terms of Service
        a(href="") Support

    div.footer-layout.disclaimer.row
      div.footer-section.col-sm-2
        img(src="../icons/vetafi-icon.svg")
      div.footer-section.col-sm-10
        p Vetafi is a non-profit organization. It is not affiliated with the U.S. Department of Veteran Affairs. We do not sell advertising and will not market to you.
          | Our only goal is to help our returning military veterans to file their claims with the V.A.
