div.form-wrapper
    h2.form-title {{formId}}

    hr

    form(ng-submit="onSubmit()" name="form")
        formly-form(model="model" fields="fields" options="options" form="form")
            button(type="submit")
                | Submit

    signature-pad(dataurl="dataurl" accept="accept" clear="clear")
    button(ng-click="clear()")
        | Clear
    button(ng-click="signature = accept()")
        | Accept
    button(ng-click="render()")
        | Download
    button(ng-click="save()")
        | Save

div.floating-progress
    div.row
        div.col-xs-9
            uib-progressbar(animate="false" value="getProgress()")
        div.col-xs-3.floating-progress-text
            span.progress-numbers {{answered}} / {{answerable}}
