div#profile-view(ng-controller="profileCtrl")

  div#profile-banner
    div#profile-banner-overlay
    div#profile-header-wrapper
      div.vfi-profile-pic-wrapper
        button.vfi-change-picture-overlay(ng-click='clickChangePic()')
          img(src='../icons/camera.svg')
          | Change Profile Picture
        img.vfi-profile-pic(ng-src="{{userInfo.profileSrc || '../icons/default-profile.svg'}}" ng-class="{'vfi-default' : !userInfo.profileSrc}")
      div.vfi-profile-basic-info
        div.vfi-line FirstName Middlename Lastname Suffix
        div.vfi-line Email
        div.vfi-line Address
        div.vfi-line Gender
        div.vfi-line Date of Birth
        button.vfi-edit-info-btn(ng-click='clickEdit()') Edit Information

  // Profile Body
  div#profile-container

    div.vfi-tab-row
      button.vfi-profile-tab(ng-click="clickMilitaryTab()", ng-class="{'vfi-active' : currentTab=='military'}") Military Background
      button.vfi-profile-tab(ng-click="clickFileClaimsTab()", ng-class="{'vfi-active' : currentTab=='file_claims'}") File Claims
      button.vfi-profile-tab(ng-click="clickSettingsTab()", ng-class="{'vfi-active' : currentTab=='settings'}") Settings


    // Military Background
    div.vfi-profile-section#military(ng-if="currentTab=='military'")
      div.vfi-section-header Military Information
      div.vfi-section-content
        div.vfi-line Military Id
        div.vfi-line Date of Discharge

      div.vfi-section-divider

      div.vfi-section-header Military Background
      div.vfi-section-content.military-bg(ng-repeat='military in militaryInfo')
        img.vfi-insignia.army(ng-src='{{insigniaUrls[military.branch]}}')
        div.vfi-line {{ranks[military.rank]}}
        div.vfi-line {{branches[military.branch]}}
        div.vfi-line {{military.yearStart}} - {{military.yearEnd}}

      div.vfi-section-divider

      div.vfi-section-content.add-military
        button(ng-click='clickAddMilitary()')
          img.vfi-add-sign(src='../icons/add.svg')
          | Add Military Background


    // File Claims
    div.vfi-profile-section#claims(ng-if="currentTab=='claims'")
      div.vfi-section-content(ng-if="claims.length == 0")
        | You have no pending file claims at the moment.
        br
        | Click <a href="#/start-file-claim">here</a> to start a file claim.


    // Settings
    div.vfi-profile-section#settings(ng-if="currentTab=='settings'")
      div.vfi-section-content
        | Change Email
        button.vfi-settings-btn.change-email(ng-click="clickChangeEmail()") Change Email

      div.vfi-section-content
        | Change Password
        button.vfi-settings-btn.change-password(ng-click="clickChangePassword()") Change Password

      div.vfi-section-content
        | Log out of your account
        button.vfi-settings-btn.logout(ng-click="clickLogout()") Log out

      div.vfi-section-content
        | Delete your account and remove all your content
        button.vfi-settings-btn.delete-account(ng-click="clickDeleteAccount()") Delete Account
