@import "../standards.styl"

elementSpacing = mediumSpacing

#vfi-modal-change-password
  padding-top: elementSpacing

  & h4
    margin-bottom: miniSpacing

  & input
    display: block
    width: 100%
    line-height: largeSpacing
    padding-left: smallSpacing
    margin-bottom: elementSpacing
    border-radius: 3px
    border: 1px solid colorLightGray
    outline: none

    &:active
    &:focus
      border: 1px solid colorPrimaryBlue

  & .error-msg
    line-height: 1em
    margin-bottom: elementSpacing
    color: colorRed

  & .button-wrapper
    & button.cancel
      float: left
      background-color: colorLightGray
      color: colorBlack

    & button.save
      float: right

    & .clearer
      clear: both
