@import "../standards.styl"

#change-password
  & input
    width: 100%
    line-height: bodyFont_lineHeight
    margin-bottom: mediumSpacing
    padding: miniSpacing
    padding-left: smallSpacing
    font-family: SourceSansPro
    font-size: lead_size
    font-weight: bodyFont_weight
    border: none
