@import "../standards.styl"

.vfi-modal
  padding: smallSpacing mediumSpacing

  & .vfi-title
    line-height: heading1_small_lineHeight
    font-family: Merriweather
    font-weight: heading1_weight
    font-size: heading1_small_size
    letter-spacing: heading1_small_letterSpacing

  & .vfi-title-separator
    width: 100%
    margin: mediumSpacing 0
    border-bottom: 1px solid colorLightGray

  & p
    margin: largeSpacing 0
    line-height: bodyFont_lineHeight
    font-family: SourceSansPro
    font-weight: bodyFont_weight
    font-size: bodyFont_size
    letter-spacing: bodyFont_letterSpacing
