@import "../standards.styl"

.vfi-modal
  padding: smallSpacing mediumSpacing

  & .vfi-title-separator
    width: 100%
    margin: mediumSpacing 0
    border-bottom: 1px solid colorLightGray

  & p
    margin: largeSpacing 0
