doctype html
html(lang="en")

	head
		meta(charset='utf-8')
		title= Vetafi
		link(rel='stylesheet', href='css/main.css')
		script(type='text/javascript', src='libs/libs.js')
		script(type='text/javascript', src='js/main.js')

	body(ng-app="vetafiApp").vfi-body-style
		div#header
			div#header-content(ng-controller="headerCtrl")
				a.vfi-header-logo-wrapper(href="/")
					img.vfi-header-logo-img(src='../icons/logo.png')
					div.vfi-header-logo Vetafi
				div.vfi-header-links

					// If not signed in
					a(href='/signup' ng-if='!isSignedIn')
						| Sign Up
						.vfi-underline-border
					a(href='/login' ng-if='!isSignedIn')
						| Log In
						div.vfi-underline-border

					// If signed in
					div.vfi-menu-wrapper(ng-if="isSignedIn")
						button.vfi-menu-btn(ng-click="onToggleMenu()")
							div.vfi-menu-icon
						ul.vfi-menu-list(ng-class="{'vfi-show':menuToggled}" click-outside="closeThisMenu()" outside-if-not="vfi-menu-btn")
							li(ng-click="onClickProfileOption()") My Profile
							li(ng-click="onClickLogoutOption()") Log out

		div.vfi-main-view-wrapper(ng-view)
