demo/*.iml
demo/.idea
demo/target/
demo/dependency-reduced-pom.xml

winterfell/node_modules
winterfell/webapp/node_modules
winterfell/webapp/build
winterfell/dump.rdb
winterfell/npm-debug.log
winterfell/my-tools

.vagrant
