@import "standards.styl"

#vfi-ratings-home

  & .remove-rating-selection
    height: 30px
    width: 30px
    background: url('/icons/x-black.svg')
    background-size: cover
    background-repeat: no-repeat
    cursor: pointer
    margin-top: 0.5em

  & .rating-selection-row:hover
    background-color: #f9c642

  & .last-updated-statement
    margin-right: 0.5em

  & .rating-info-disclaimer
    font-style: italic

