@import "standards.styl"

#vfi-ratings-categories

  & table
    border-collapse: collapse;

  & table, th, td
    border: 1px solid black;

  & div.rating-category-select-button
    padding-left: 1em
    background-color: colorPrimaryBlue
    color: colorWhite
    border-bottom: 1px colorBlack solid
    border-top: 1px colorBlack solid

  & div.rating-category-select-button:before
    background: url("/icons/next-black.svg")
    height: 
