//
// US Gov Typography Standards ---> https://standards.usa.gov/visual-style/#pairings
//
@font-face
	font-family Merriweather
	src url('/fonts/Merriweather/Merriweather-Regular.ttf');

@font-face
	font-family SourceSansPro
	src url('/fonts/SourceSansPro/SourceSansPro-Regular.ttf');

// Headers
heading_weight = 700
h1_size = 40px							// 40px
h1_lineHeight = 1.3em				// 52px
h1_letterSpacing = 2px			// 2px

h2_size = 30px							// 30px
h2_lineHeight = 1.3em				// 39px
h2_letterSpacing = 1.5px		// 1.5px

h3_size = 20px							// 20px
h3_lineHeight = 1.3em				// 26px
h3_letterSpacing = 1px			// 1px

h4_size = 17px							// 17px
h4_lineHeight = 1.3em				// 22px
h4_letterSpacing = 1px			// 1px

h5_size = 15px							// 17px
h5_lineHeight = 1.3em				// 22px
h5_letterSpacing = 1px			// 1px

h6_size = 13px							// 13px
h6_lineHeight = 1.3em				// 17px
h6_letterSpacing = 1px			// 1px

// Lead Paragraph
lead_family = Merriweather
lead_weight = 400
lead_size = 20px								// 20px
lead_lineHeight = 1.7em					// 34px

// Body Font
bodyFont_weight = 400
bodyFont_size = 17px						// 17px
bodyFont_lineHeight = 1.5em			// 26px

//
// US Gov Color Palette Standards ---> https://standards.usa.gov/visual-style/#palette
//
colorPrimaryBlue = #0071bc
colorPrimaryDarkBlue = #205493
colorPrimaryDarkestBlue = #112e51
colorWhite = #ffffff
colorDarkWhite = #e2e2e2
colorBlack = #212121
colorLighterGray = #d6d7d9
colorLightGray = #aeb0b5
colorWarmLightGray = #e4e2e0
colorWarmDarkGray = #494440
colorDarkGray = #323a45
colorLightBlue = #02bfe7
colorRed = #e31c3d
colorYellow = #fdb81e
colorYellowLight = #f9c642
colorPurple = #4c2c92
colorFocusBlue = #3e94cf
colorGreen = #2e8540
colorLightGreen = #4aa564
colorFacebook = #3b5998
colorIdMeNavy = #2D3E51


//
// US Gov Spacing Standards ---> https://standards.usa.gov/visual-style/#typesetting
// Should be used for spacing out headings
//
miniSpacing = 0.5em
smallSpacing = 1em
mediumSpacing = 1.5em
largeSpacing = 2em
megaSpacing = 4em

miniSpacingPx = 8px
smallSpacingPx = 16px
mediumSpacingPx = 24px
largeSpacingPx = 32px
megaSpacingPx = 64px

//
// Window Screen Widths
//
maxWindowWidthPx = 800px
minWindowWidthPx = 640px

//
// Misc.
//
maxLayoutWidthPx = 800px
maxLayoutWidthPct = 80%
headerHeightPx = 70px
