extends modalLayout.pug

block modalContent
  div#basic-two-button-modal
    div.message
      p {{message}}
    form
      input(ng-model="email", placeholder="Email Address", type="text" name="email")
    div.error-msg {{errorMsg}}
    div.button-wrapper
      button.cancel(ng-click="$dismiss()") Cancel
      button.save(ng-click="submitSubscribe(email)") Save
      div.clearer

