extends modalLayout.pug

block modalContent
  div#basic-two-button-modal
    div.message
      p {{message}}
    div.button-wrapper
      button.cancel(ng-click="$dismiss()") {{cancelText || 'Cancel'}}
      button.continue(ng-class="{'success': choice == 'success', 'warning': choice == 'warning'}", ng-click="$close(true)") {{continueText || 'OK'}}
