<div class="file-claim-view" ng-controller="fileClaimCtrl">
    <h3>File a claim!</h3>

    <div class="container">
        <div ng-repeat="formName in formNames"
             >
            <div class="row form-option" ng-class="{'form-option-selected': formSelections[formName]}">
                <div class="col-lg-1">
                    <input type="checkbox"
                           ng-model="formSelections[formName]"
                           id="{{formName}}"
                           class="file-claim-checkbox"/>
                </div>
                <div class="col-lg-4">
                    {{formName}}
                    <p class="form-description">Essential basic form. Must be filled out for almost all claims.</p>
                </div>
                <div class="col-lg-2 tooltip-thing" ng-visible="suggestions[formName]" ng-hide="formSelections[formName]" >
                    <p>Veterans like you often fill out this form.</p>
                </div>
            </div>
            <div class="row form-description">
                <div class="col-lg-1"></div>
                <div class="col-lg-4">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <button ng-click="onSubmit()">Begin Paperwork</button>
            </div>
        </div>
    </div>
    <div>{{formSelections}}</div>
</div>