<div class="physical-injury-view" ng-controller="physicalInjuryCtrl">
    <h3>Do you have any physical injuries?</h3>
    <div class="buttons-wrapper">
        <button class="btn yes"
                ng-click="selectInjury(true)"
                ng-class="{selected: firstSelect && injury}">
            Yes
        </button>
        <button class="btn no"
                ng-click="selectInjury(false)"
                ng-class="{selected: firstSelect && !injury}">
            No
        </button>
    </div>

    <!-- If yes, was it during military service? -->
    <div id="injury-during-military" ng-class="{show: injury}">
        <h3>Was it during military service?</h3>
        <div class="buttons-wrapper">
            <button class="btn yes"
                    ng-click="selectMilitary(true)"
                    ng-class="{selected: secondSelect && military}">Yes
            </button>
            <button class="btn no"
                    ng-click="selectMilitary(false)"
                    ng-class="{selected: secondSelect && !military}">No
            </button>
        </div>
    </div>

    <div id="file-claim" ng-class="{show: injury && military}">
        <h4>Awesome, you're eligible to file a health claim!</h4>
        <button class="btn-go" ng-click="goFile()">Cool, let's file!</button>
    </div>

    <div id="call-number" ng-class="{show: secondSelect && injury && !military}">
        <p>
            For more information about your injury and health provider,<br>
            Call this toll-free number!<br>
            <div class="number">123-999-5343</div>
        </p>
    </div>

    <div id="done-filling-form" ng-class="{show: (secondSelect && injury && !military) || (firstSelect && !injury)}">
        <p>
            Let's see what else we can do for you.
        </p>
        <button class="btn-go" ng-click="goToQuestions()">Next</button>
    </div>

</div>
