<div class="signin-view" ng-controller="signinCtrl">
    <h1>Tell us who you are</h1>
    <form>
        <div class="input-form-wrapper" ng-repeat="inputForm in inputForms">
            <span>{{inputForm.title}}:</span>
            <input type="text" name="{{inputForm.name}}" placeholder="{{inputForm.placeholder}}">
        </div>
        <div class="input-form-wrapper pwd">
            <span>Password:</span>
            <input type="password" name="pwd">
        </div>
        <button class="submit-btn" ng-click="onSubmit()">
            <div class="progress"></div>
            <div class="text">Sign up</div>
        </button>
    </form>
</div>
