extends modalLayout.jade

block modalContent
  div#vfi-modal-change-password(modal-change-password)
    form
      h4 Old Password
      input.old(placeholder='Enter your current password', type='password')
      h4 New Password
      input.new(placeholder='Enter your new password', type='password')
      h4 Confirm Password
      input.confirm(placeholder='Re-enter your new password', type='password')
    div.error-msg
    div.button-wrapper
      button.cancel(ng-click="$dismiss()") Cancel
      button.save(ng-click="savePassword()") Save
      div.clearer
