div.vfi-modal#change-password
  div.vfi-title Change Passwords
  div.vfi-title-separator
  input(placeholder='Old password')
  input(placeholder='New password')
  input(placeholder='Confirm New password')
