// For Confirm Claim page
#vfi-confirm-modify-contact-modal
  button.close-modal-btn(ng-click="$dismiss()")
    div.close-icon
  h3 Change Address

  div.input-wrapper
    input.name(placeholder="Location Name i.e. Home, Work", ng-model="address.name")
    input.street1(placeholder="Street Number & Name", ng-model="address.street1")
    input.street2(placeholder="i.e. Suite, Apartment, Room, P.O., etc.", ng-model="address.street2")
    input.city(placeholder="City", ng-model="address.city")
    input.country(placeholder="Country", , ng-model="address.country")
    input.province(placeholder="State/Province" , ng-model="address.state")
    input.zip(placeholder="Zip/Postal", ng-model="address.zip")

  div.button-wrapper
    button.cancel-btn(ng-click="$dismiss()") Cancel
    button.save-btn(ng-click="$close(address)") Save
    div.clearer
