div.vfi-modal#basic-one-button-modal
  div.close-wrapper
    button.close-icon(ng-click="$close()")
  div.header
    h3 {{modalData.headline}}
  div.message
    p {{modalData.message}}
  div.button-wrapper
    button(ng-click="$close()") {{modalData.btnText || 'OK'}}
