div.vfi-modal#basic-one-button-modal
  div.close-wrapper
    button.close-icon(ng-click="$close()")
  div.header
    h3 {{headline}}
  div.message
    p {{message}}
  div.button-wrapper
    button(ng-click="$close()") {{btnText || 'OK'}}
