div.vfi-modal#session-expired
  h3.vfi-title Session Expired
  div.vfi-title-separator
  p
    | For security reasons, your session has expired due to inactivity.
    | Please log back in to continue your work.
  div.vfi-button-row
    button(ng-click="closeThisDialog()") OK
