doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title=Vetafi
    link(rel='stylesheet', href='css/libs.css')
    link(rel='stylesheet', href='css/main.css')
    script(type='text/javascript', src='libs/libs.js')
    script(type='text/javascript', src='js/signin.js')

  body#signup-view
    #bg
      #bg-overlay

      #view-wrapper
        h1.vfi-heading Vetafi
        h2.vfi-subheading  Lorem ipsum dolor sit amet consectetur

        #signup-wrapper
          h3 Sign up for an account
          form.vfi-form-wrapper
            input.vfi-input-email(placeholder="Email", type="text")
            input.vfi-input-password.vfi-first-pwd(placeholder="Password", type="password")
            input.vfi-input-password.vfi-confirm(placeholder="Confirm Password", type="password")
            button.vfi-submit-btn(type="submit")
              .vfi-progress
              .vfi-txt SIGN UP
            .vfi-error-msg
    #footer
