doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title=Vetafi
    link(rel='stylesheet', href='css/libs.css')
    link(rel='stylesheet', href='css/main.css')
    script(type='text/javascript', src='libs/libs.js')
    script(type='text/javascript', src='js/signin.js')

  body#signup-view
    div.bg-overlay
    div.viewer
      div.pic-section
      div.interact-section
        img.logo(src='../icons/Vetafi-black.png')

        div.screen
          div.options
            button.fb-btn
              div.icon-container
                div.fb-icon
              div.txt-container Signup with Facebook
            button.idme-btn
              div.icon-container
                div.idme-icon
              div.txt-container Signup with Id.Me

            p.divider - OR -

            button.email-btn
              div.icon-container
                div.email-icon
              div.txt-container Signup with your email

          div.inputs
            input(placeholder='Email Address')
            input(placeholder='Password')
            input(placeholder='Confirm Password')
            button SIGN UP
            a(href="/login") Already have an account?
            p.error-msg
            button.back-btn Back
