doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title=Vetafi
    link(rel='stylesheet', href='css/main.css')
    script(type='text/javascript', src='libs/libs.js')
    script(type='text/javascript', src='js/signin.js')

  body#signup-view
    div.bg-overlay
    div.viewer
      div.pic-section
      div.interact-section
        img.logo(src='../icons/vetafi-logo-black.svg')

        div.carousel
          div.screen.options
            button.fb-btn
              div.icon-container
                div.fb-icon
              div.txt-container Signup with Facebook
            button.idme-btn
              div.icon-container
                div.idme-icon
              div.txt-container Signup with Id.Me

            p.divider - OR -

            button.email-btn
              div.icon-container
                div.email-icon
              div.txt-container Signup with your email

          div.screen.inputs
            input.email(placeholder='Email Address', type='text')
            input.pwd(placeholder='Password', type='password')
            input.confirm-pwd(placeholder='Confirm Password', type='password')
            button.submit-btn SIGN UP
            a(href="/login") Already have an account?
            p.error-msg
            button.back-btn Back
