doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title=Vetafi
    link(rel='stylesheet', href='css/main.css')
    script(type='text/javascript', src='libs/libs.js')
    script(type='text/javascript', src='js/signin.js')

  body.vfi-signup-view
    .vfi-bg
      .vfi-bg-overlay

      .vfi-view-wrapper
        .vfi-heading Vetafi
        .vfi-subheading  Lorem ipsum dolor sit amet consectetur
        .vfi-signup-wrapper
          h3 Sign up for an account
          form.vfi-form-wrapper
            input.vfi-input-email(placeholder="Email", type="text")
            input.vfi-input-password.vfi-first-pwd(placeholder="Password", type="password")
            input.vfi-input-password.vfi-confirm(placeholder="Confirm Password", type="password")
            button.vfi-submit-btn(type="submit")
              .vfi-progress
              .vfi-txt SIGN UP
            .vfi-error-msg
    .vfi-footer
