#vfi-aboutus-view
  div.aboutus-wrapper

    div.intro-wrapper
      h3 Who We Are
      p
        | Vetafi is a non-profit organization based out of San Francisco,
        | California dedicated to helping the U.S. veteran community.
        | Our goal is to help take some of the hassle out of getting your benefits from the VA.

    div.team-wrapper
      h3 Our Team
      div.card-wrapper.container-fluid
        div.row
          div.profile-wrapper.col-sm-3
            div.profile-back
              div.profile-pic.jeff
          div.content-wrapper.col-sm-9
            h4 Jeff Quinn
            p
              | Jeff works a Software Engineer at #[a(href="https://www.nuna.com/") Nuna].

      div.card-wrapper.container-fluid
        div.row
          div.profile-wrapper.col-sm-3
            div.profile-back
              div.profile-pic.aaron
          div.content-wrapper.col-sm-9
            h4 Aaron Hsu
            p
              | Aaron works as a Software Engineer at #[a(href="https://www.nextbit.com/") Nextbit].
vfi-footer
