#vfi-aboutus-view
  div.aboutus-wrapper

    div.intro-wrapper
      h3 Who We Are
      p
        | Vetafi is a non-profit organization based out of San Francisco, California dedicated to helping the U.S. veteran community.
        | Its first product was first created in March 2016 at #[a(href="http://bayeshack.org") BayesHack 2016] hosted by #[a(href="http://www.bayesimpact.org/") Bayes Impact].
      p
        | What started as a prototype won the BayesHack 2016 Veteran Affairs division and won 2nd place overall.
        | From the many enthusiastic reactions and support from the community, Jeff and Aaron decided to continue the project and use their talents to innovate tools for veterans and service members.

    div.team-wrapper
      h3 Our Founders
      div.card-wrapper.container-fluid
        div.row
          div.profile-wrapper.col-sm-3
            div.profile-back
              div.profile-pic.jeff
          div.content-wrapper.col-sm-9
            h4 Jeffrey Quinn
            p
              | Jeff is currently a Data Engineer at the health startup company, #[a(href="https://www.nuna.com/") Nuna].
              | He enjoys playing basketball, practicing chess at parks, and trying out new craft beers.

      div.card-wrapper.container-fluid
        div.row
          div.profile-wrapper.col-sm-3
            div.profile-back
              div.profile-pic.aaron
          div.content-wrapper.col-sm-9
            h4 Aaron Hsu
            p
              | Aaron works as a Software Engineer at #[a(href="https://www.nextbit.com/") Nextbit], a startup dedicated to creating the next generation of smarter smartphones.
              | Aaron's main passions are making sushi, hip hop dancing, and posting pictures of his dog.

vfi-footer
