#select-forms-view
  vfi-breadcrumbs(page="1")
  #select-forms-wrapper
    h3 Select Forms for Claim

    div.section.required
      div.section-header
        h4 Required Forms:
        uib-progressbar.progressbar(value="numRequiredCompleted", max="numRequiredForms", type="{{numRequiredCompleted == numRequiredForms ? 'success' : 'info'}}")
          span.progress-bar-text {{numRequiredCompleted}}/{{numRequiredForms}}

      div.form-wrapper(ng-repeat="(formId, form) in myForms", ng-init="formConfig = formConfigs[formId]")
        div.form-content
          div.state-wrapper(ng-class="{'required': formConfig.vfi.required, 'complete': isCompletedForm(form)}")
            div.state-icon
          div.form-title-wrapper
            h5.title(ng-class="{'required': formConfig.vfi.required && !isCompletedForm(form)}") {{formId}}
            h5.warning.required(ng-if="formConfig.vfi.required && !isCompletedForm(form)") &nbsp;(required)
            h5.subtitle {{formConfig.vfi.title}}
          div.form-summary {{formConfig.vfi.summary}}
        div.form-buttons
          button.edit-btn(ui-sref="root.form({claimId: claimId, formId: formId})")
            div.edit-icon
            | Edit
          button.download-btn(type="button" ng-click="onDownload(formId)")
            div.download-icon
            | Download

    div.button-wrapper
      button.cancel-btn(ng-click="onClickCancel()") Cancel
      button.done-btn(ng-click="onClickDone()", ng-class="{'ready':numRequiredCompleted == numRequiredForms}") Done
      div.clearer

vfi-footer
