div#vfi-form-view
    h2.form-title {{title}}
    p {{description}}

    hr

    form(ng-submit="onSubmit()" name="form" autocomplete="on")
        formly-form(model="model" fields="fields" options="options" form="form")

        div.container-fluid.nopadding
            div.row.form-submit-button-group
                div.col-xs-12
                    button.submit(type="submit" ng-class="{'disabled': answered != answerable}")
                        | Submit
                    button.save(type="button" ng-click="onSave()")
                        | Save Information
                    a(class="download btn" href="/pdf/{{claimId}}/{{formId}}" download="{{formId}}.pdf")
                        | Download


div.floating-progress
    div.row
        div.col-xs-9
            uib-progressbar(animate="false" value="getProgress()")
        div.col-xs-3.floating-progress-text
            span.progress-numbers {{answered}} / {{answerable}}
