div#vfi-ratings-categories
  rating-category-breadcrumbs(breadcrumbs="breadcrumbs")

  h4 {{category}}

  ul
    li(ng-repeat="subcategory in subcategories")
      button(ng-click="gotoSubcategory($index)") {{subcategory}}

  table.diagnostic-code-sets
    tbody
      tr(ng-repeat="rating in ratings")
        td {{rating.code.code}}
        td {{rating.code.description}}
        td
          button(ng-click="gotoRating($index)") Goto

  table(ng-show="{{notes.length > 0}}")
    thead
      tr
        th Notes
    tbody
      tr(ng-repeat="note in notes")
        td {{note.note}}


  table(ng-show="{{see_other_notes.length > 0}}")
    thead
      tr
        th See Other Notes
    tbody
      tr(ng-repeat="note in see_other_notes")
        td {{note.see_other_note}}
