div#vfi-ratings-categories
  ul
    li(ng-repeat="category in breadcrumbs") {{category}}

  h4 {{category}}

  ul
    li(ng-repeat="subcategory in subcategories")
      button(ng-click="gotoSubcategory($index)") {{subcategory}}

  table.diagnostic-code-sets
    tbody
      tr(ng-repeat="rating in ratings")
        td {{rating.code.code}}
        td {{rating.code.description}}
        td
          button(ng-click="gotoRating($index)") Goto

