div#vfi-ratings-categories
  rating-category-breadcrumbs(breadcrumbs="breadcrumbs")

  div.rating-category-select-button(ng-repeat="subcategory in subcategories" ng-click="gotoSubcategory($index)")
    | {{subcategory}}

  div.condition-select-button(ng-repeat="rating in ratings" ng-click="gotoRating($index)")
    | {{rating.code.description}} ({{rating.code.code}})

  table(ng-show="{{notes.length > 0}}")
    thead
      tr
        th Notes
    tbody
      tr(ng-repeat="note in notes")
        td {{note.note}}
