rating-category-breadcrumbs(breadcrumbs="breadcrumbs")

div#vfi-ratings
  div.container.nopadding(ng-show="{{ratings.length > 0}}")
    div.row
      div.col-sm-6
        b Description
      div.col-sm-2
        b Rating
    div.row.rating-selection-row(ng-repeat="rating in ratings")
      div.col-sm-6 {{rating.description}}
      div.col-sm-1 {{rating.rating}}
      div.col-sm-1
        button(ng-click="addRating(rating)") Add

  div.container.nopadding(ng-show="{{notes.length > 0}}")
    div.row
      div.col-sm-6
        b Notes
    div.row(ng-repeat="note in notes")
      div.col-sm-6
        p {{note.note}}

  div.container.nopadding(ng-show="{{see_other_notes.length > 0}}")
    div.row
      div.col-sm-6 See Other Notes
    div.row(ng-repeat="note in see_other_notes")
      div.col-sm-6 {{note.see_other_note}}


