div#vfi-ratings-categories
  button(ng-click="back()" ng-show="breadcrumbs.length > 0") Back

  ul
    li(ng-repeat="category in breadcrumbs") {{category}}

  h4 {{category}}

  ul
    li(ng-repeat="subcategory in subcategories")
      button(ng-click="gotoSubcategory($index)") {{subcategory}}

  table.diagnostic-code-sets
    tbody
      tr(ng-repeat="diagnostic_code_set in diagnostic_code_sets")
        td {{$index}}
        td
          table.diagnostic-code-set
            tbody
              tr(ng-repeat="code in diagnostic_code_set.codes")
                td {{code.description}}
                td {{code.code}}
              tr(ng-repeat="rating in diagnostic_code_set.ratings")
                td {{rating.description}}
                td {{rating.ratings}}
