div#vfi-sign-document-view
    div.container-fluid
        div.row.form-submit-button-group
            div.col-xs-8
                p Please sign the document below, click complete when done.
            div.col-xs-4
                button.complete(ng-show="allFormsSigned" ui-sref="root.claimconfirm({claimId: claimId})")
                    | Complete
                button.complete(ng-show="!allFormsSigned" ng-click="advance()")
                    | Next


    div.signature-frame(ng-repeat="form in forms")
        p {{form.key}}
        iframe(ng-src="{{form.externalSignatureLink | trusted}}" ng-show="currentFormIndex == $index")

    div.container-fluid
        div.row.form-submit-button-group
            div.col-xs-8
                p Please sign the document above, click complete when done.
            div.col-xs-4
                button.complete(ng-show="allFormsSigned" ui-sref="root.claimconfirm({claimId: claimId})")
                    | Complete
                button.complete(ng-show="!allFormsSigned" ng-click="advance()")
                    | Next
