div#vfi-sign-document-view
    div.container-fluid
        div.row.form-submit-button-group
            div.col-xs-8
                p Please sign the documents below, click complete when done.
            div.col-xs-4
                button.complete(ng-active="allFormsSigned()" ui-sref="root.claimconfirm({claimId: claimId})")
                    | Continue

        div.row(ng-repeat="form in forms" ng-class="{'highlighted': form.key == currentlySigningForm.key}")
            div.col-xs-4
                p {{form.key}}
            div.col-xs-4
                a(href="{{form.externalSignatureLink | trusted}}" target="_blank" ng-click="markCurrentlySigningForm(form)") Sign
            div.col-xs-4
                p(ng-show="form.isSigned") Signed
                p(ng-show="!form.isSigned") Not Signed
