<div class="claim-submitted-view" ng-controller="claimSubmittedCtrl">
    <h2 class="highlight">Congratulations {{user.firstName}}!</h2>
    <h3>Your file claim has been successfully submitted!</h3>

    <h4 class="highlight">What now?</h4>

    <p>
        Sit back and relax while the Department of Veteran Affairs
        <br>processes your claim.
    </p>
    <p>
        We will update you the progress of your claim
        by sending emails to <a>{{user.email}}</a>
    </p>

    <h4 class="highlight">
        To check up on your claims or edit your personal information,
    </h4>
    <button ng-click="goToProfile()">
        Go to profile!
    </button>


    <h4 class="highlight">
        Otherwise, let's see what else you can do!
    </h4>
    <button ng-click="goHome()">
        Go home!
    </button>
</div>