@(changePasswordForm: Form[(String, String)], user: models.User)(implicit request: RequestHeader, messages: Messages)

<p>@Messages("change.password")</p>
@helper.form(action = routes.ChangePasswordController.submit, 'autocomplete -> "off") {
    @helper.CSRF.formField
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <div class="form-group">
        <div>
            <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("change")</button>
        </div>
    </div>
}

