@(changePasswordForm: Form[(String, String, String)], user: models.User)(implicit request: RequestHeader, messages: Messages)

<div class="screen inputs vfi-show">
@helper.form(action = routes.ChangePasswordController.submit, 'autocomplete -> "off") {
    @helper.CSRF.formField
    <input type="password" name="current-password" id="current-password" placeholder="Current Password">
    <input type="password" name="new-password" id="new-password" placeholder="New Password">
    <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm New Password">
    <div class="form-group">
        <div>
            <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("change")</button>
        </div>
    </div>
}
</div>
