@(forgotPasswordForm: Form[String])(implicit request: RequestHeader, messages: Messages)

<p>@Messages("forgot.password")</p>
@helper.form(action = routes.ForgotPasswordController.submit(), 'autocomplete -> "off") {
    <p class="info">@Messages("forgot.password.info")</p>
    @helper.CSRF.formField
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <div class="form-group">
        <div>
            <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("send")</button>
        </div>
    </div>
}
