extends signinLayout.pug

//-
  block fbText
    div.txt-container Login with Facebook
block idmeText
  div.txt-container Login with Id.Me
block emailText
  div.txt-container Login with your email
block linkToOtherPage
  a(href="/signup") Need an account?

block inputs
  form(action='/api/auth/login' method='post')
    input.email(placeholder='Email Address', type='text' name='email')
    input.pwd(placeholder='Password', type='password' name='password')
    input(type='hidden' name='_csrf' value=csrf)
    input.submit(value='LOG IN', type='submit')
  a Forgot password?
  a Forgot email?
