@(viewId: String, errorMessage: String, idMeUrl: String)(
        idMeText: Html, emailText: Html, linkToOtherPage: Html, inputs: Html)

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Vetafi</title>
        <link rel="stylesheet" href="css/main.css">
        <script type="text/javascript" src="libs/libs.js"></script>
        <script type="text/javascript" src="js/signin.js"></script>
    </head>
    <body id="@viewId">
        <div class="bg-overlay"></div>
        <div class="viewer">
            <div class="pic-section"></div>
            <div class="interact-section">
                <a href="/">
                    <img class="logo" src="icons/vetafi-logo-black.svg">
                </a>
                <p class="error-msg">
                @errorMessage
                </p>
                <div class="carousel">
                    <div class="screen options">
                        <a href="@idMeUrl">
                            <button class="idme-btn">
                                <div class="icon-container">
                                    <div class="idme-icon"></div>
                                </div>
                                @idMeText
                            </button>
                        </a>
                        <p class="divider">- OR -</p>
                        <button id="reveal-email-login-button" class="email-btn">
                            <div class="icon-container">
                                <div class="email-icon"></div>
                            </div>
                            @emailText
                        </button>
                        @linkToOtherPage
                    </div>
                    <div class="screen inputs">
                        @inputs
                        <button id="hide-email-login-button" class="back-btn">
                        Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
