.file-claim-view {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.file-claim-view loading-view {

}

.file-claim-view original-view {
    display: none;
}

.file-claim-view h3 {
    margin-bottom: 30px;
}

.file-claim-view .selection-wrapper {
    position: relative;
    height: 90px;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid rgba(74, 165, 100, 0.75);
}

.file-claim-checkbox {
    transform: scale(2);

    /* Webkit browsers*/
    -webkit-transform: scale(2);

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-top: 35px !important;
    margin-left: 35px !important;
}

.file-claim-view .container {
    max-width: 100%;
}

.form-option {
    margin-bottom: 20px;
}

.form-option-selected {
    height: 100%;
    background-color: rgba(74, 165, 100, 0.55);
    margin-bottom: 0px;
}

.form-description {
    position: relative;
    top: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

.form-description p {
    font-family: 'Merriweather-Light', serif;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.tooltip-thing {
    position: absolute;
    top: 1em;
    right: 10px;
    padding: 10px 20px 0px;
    border-radius: 5px;
    background-color: #f9c642;
}

.begin-button {
    margin-top: 10px;
    padding: 15px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #205493;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.begin-button:hover {
    background-color: #36659d;
}