.file-claim-checkbox {
    transform: scale(2);

    /* Webkit browsers*/
    -webkit-transform: scale(2);

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-top: 40% !important;
}

.form-option-selected {
    background-color: rgba(74, 165, 100, 0.55);
}

p.form-description {
    font-family: 'Merriweather-Light', serif;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.tooltip-thing {
    border-radius: 5px;
    border: solid 1px #000000;
    padding-top: 0.5em;
    margin-bottom: -0.25em;
    margin-top: -0.25em;
    background-color: #f9c642;

}