.file-claim-view {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.file-claim-view h3 {
    display: inline-block;
    margin-bottom: 30px;
}

.file-claim-view .loading-view {
    height: auto;
    overflow: hidden;
    opacity: 1.0;
    visibility: visible;
    transition: 0.2s linear all;
}

.file-claim-view .loading-view.disappear {
    height: 0px;
    opacity: 0.0;
    visibility: hidden;
    transform: translateY(-50%), scale(0.8);
}

.file-claim-view .original-view {
    opacity: 0.0;
    visibility: hidden;
    transform: translateY(-50%), scale(0.8);
    transition: 0.2s linear all;
}

.file-claim-view .original-view.appear {
    opacity: 1.0;
    visibility: visible;
    transform: translateY(0%), scale(1.0);
}

.file-claim-view .spinner {
    display: inline-block;
    width: 60px;
    margin-left: 40px;
}

.file-claim-view .spinner.spin {
    -webkit-animation: spin 4s infinite ease-in-out;
}

.file-claim-view .spinner.spin-faster {
    -webkit-animation: spin-fast 0.8s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(-360deg);}
}

@-webkit-keyframes spin-fast {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

.file-claim-view .selection-wrapper {
    position: relative;
    height: 90px;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid rgba(74, 165, 100, 0.75);
}

.file-claim-checkbox {
    transform: scale(2);

    /* Webkit browsers*/
    -webkit-transform: scale(2);

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-top: 35px !important;
    margin-left: 35px !important;
    cursor: pointer;
}

.file-claim-view .container {
    max-width: 100%;
}

.form-option {
    margin-bottom: 20px;
}

.form-option-selected {
    height: 100%;
    background-color: rgba(74, 165, 100, 0.55);
    margin-bottom: 0px;
}

.form-description {
    position: relative;
    top: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

.form-description p {
    font-family: 'Merriweather-Light', serif;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.tooltip-thing {
    position: absolute;
    top: 1em;
    right: 10px;
    padding: 10px 20px 0px;
    border-radius: 5px;
    background-color: #f9c642;
}

.begin-button {
    margin-top: 10px;
    padding: 15px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #205493;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.begin-button:hover {
    background-color: #36659d;
}