.physical-injury-view h3 {
    text-align: center;
    margin-bottom: 20px;
}

.buttons-wrapper {
    text-align: center;
}

.flow-button {
    margin: 15px 30px;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    color: white;
    outline: none;
}

.flow-button:hover {
    color: white;
}

.flow-button:focus {
    outline: none;
}

.flow-button.yes {
    background-color: #02bfe7;
}

.flow-button.yes:hover {
    background-color: #34cbeb;
}

.flow-button.no {
    background-color: #02bfe7;
}

.flow-button.no:hover {
    background-color: #34cbeb;
}

.flow-button.selected {
    background-color: #4aa564;
    color: white;
}

.flow-button.selected:hover {
    background-color: #4aa564;
    color: white;
}

#injury-during-military {
    display: none;
    margin-top: 40px;
}

#file-claim {
    display: none;
    margin-top: 40px;
    text-align: center;
}

#call-number {
    display: none;
    margin-top: 40px;
    text-align: center;
}

#call-number .number {
    font-size: 18px;
    color: #4aa564;
}

#done-filling-form {
    display: none;
    margin-top: 40px;
    text-align: center;
}

.flow-button-go {
    padding: 15px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #fdb81e;
    color: #212121;
}

.flow-button-go:hover {
    background-color: #fdbf34;
}

