.header-banner {
  height: 60px;
  width: 100%;
  background-color: #205493;
}

.header-wrapper {
    width: 800px;
    margin: 0px auto;
}

.header-logo {
  float: left;
  font-size: 40px;
  color: white;
  letter-spacing: 3px;
  cursor: pointer;
}