.question-view {
    padding-left: 60px;
    padding-right: 60px;
}

.question-view h3 {
    margin-bottom: 40px;
    text-align: center;
}

.question-view h4 {
    line-height: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.questionnaire-wrapper {
    margin-left: 50px;
}

.question-wrapper {
    margin-bottom: 30px;
}

.question-text {
    font-size: 16px;
}

.answer-wrapper {
    margin-bottom: 10px;
    cursor: pointer;
}

.answer-wrapper input[type="radio"] {
    margin-right: 15px;
}

.answer-wrapper input[type="radio"]:checked+label {
    color: green;
}

.answer-wrapper .option-text {
    color: #aeb0b5;
}

.submit-btn {
    margin-left: 50px;
    padding: 10px 15px;
    outline: none;
    color: white;
    background-color: #205493;
    border: none;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: #36659d;
}

.progress-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    padding: 20px 40px;
    opacity: 1.0;
    visibility: visible;
    border-radius: 10px;
    border: 2px solid #205493;
    background-color: white;
    transition: all linear 0.1s;
}

.progress-wrapper.disappear {
    opacity: 0;
    visibility: hidden;
}

.progress-wrapper .title {
    margin-bottom: 10px;
}

.questions-stat {
    float: right;
    margin-top: -5px;
    margin-right: 5px;
}
