<div ng-controller="FormController">
    <div class="floating-progress">
        <div ng-repeat="vaForm in vaForms">
            <div class="row">
                <div class="col-lg-4">
                    <span class="pull-right">{{vaForm}}</span>
                </div>
                <div class="col-lg-6">
                    <uib-progressbar
                            animate="false"
                            value="getProgress(vaForm)"
                            type="{{getType(vaForm)}}">
                    </uib-progressbar>
                </div>
                <div class="col-lg-2">
                    {{getProgressNumerator(vaForm)}}/{{getProgressDenominator(vaForm)}}
                </div>
                <div class="col-lg-2">
                    <button ng-click="getPdf(vaForm)">Download</button>
                </div>
            </div>
        </div>
    </div>
    <form sf-schema="schema"
          sf-form="form"
          sf-model="model"
          ng-submit="onSubmit(myForm)"></form>
    <div>
        {{model}}
    </div>
    <div>
        {{schema}}
    </div>
</div>