@(html: Html)


<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Vetafi</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/assets/stylesheets/ratings.css">
    </head>
    <body>
        <div id="header">
            <div id="header-content">
                <a class="vfi-header-logo-wrapper" href="/">
                    <img src="/icons/vetafi-logo.svg">
                </a>
            </div>
        </div>

        @html
    </body>
</html>