@(ratingsCategory: models.RatingCategory)

<table>
    <tbody>

    @ratingsCategory.diagnostic_code_sets.map { diagnostic_code_set: models.DiagnosticCodeSet =>
        <tr>
            <td>
                @views.html.ratings.ratings(diagnostic_code_set)
            </td>
        </tr>
    }

    @ratingsCategory.subcategories.map { subcategory: models.RatingCategory =>
        <tr>
            <td>
                @subcategory.description
            </td>
            <td>
                @views.html.ratings.subcategory(subcategory)
            </td>
        </tr>
    }
    </tbody>
</table>