div.profile-section#settings

  div.section
    div.summary Change your account password
    button(ng-click="clickChangePassword()") Change Password

  div.section
    div.summary Log out of your account
    a(href="/logout")
      button.logout Log Out

  div.section
    div.summary Delete your account and all of your saved information
    button.delete(ng-click="clickDeleteAccount()") Delete Account
