div.profile-section#settings

  div.section
    div.summary Change your account password
    a.btn(href="/password/change") Change Password

  div.section
    div.summary Log out of your account
    a(class="btn logout" href="/signout") Log Out

  div.section
    div.summary Delete your account and all of your saved information
    button.delete(ng-click="clickDeleteAccount()") Delete Account
