{
    "root": true,
    "plugins": ["import"],
    "env": {
        "browser": false,
        "node": true
    },
    "rules": {
        "import/order": 2,
        "no-console": "off"
    },
    "extends": ["eslint:recommended", "plugin:import/recommended"]
}
