@import "standards.styl"

#claim-submitted-view
  width: maxLayoutWidthPx
  margin: largeSpacing auto
  padding: largeSpacing megaSpacing
  box-sizing: border-box
  background-color: colorWhite

& .vfi-divider
  margin: largeSpacing 0
  border-bottom: 1px solid colorLightGray
