@import "standards.styl"

#claim-start-view
  width: maxLayoutWidthPx
  margin: largeSpacing auto
  padding: largeSpacing megaSpacing
  box-sizing: border-box
  background-color: colorWhite

  & .vfi-header
    line-height: heading1_lineHeight
    font-family: Merriweather
    font-weight: heading1_weight
    font-size: heading1_size
    letter-spacing: heading1_letterSpacing

  & .vfi-divider
    margin: largeSpacing 0
    border-bottom: 1px solid colorLightGray

  & .button-wrapper
    width: 100%
    height: largeSpacing
    margin-top: mediumSpacing

  & .vfi-cancel
    float: left
    background-color: colorLightGray

  & .vfi-next
    float: right
    background-color: colorYellow
    color: colorBlack
