@import "standards.styl"

#claim-submitted-view
  width: maxLayoutWidthPx
  margin: largeSpacing auto
  padding: largeSpacing megaSpacing
  box-sizing: border-box
  background-color: colorWhite

& .vfi-header
  line-height: heading1_lineHeight
  font-family: Merriweather
  font-weight: heading1_weight
  font-size: heading1_size
  letter-spacing: heading1_letterSpacing

& .vfi-divider
  margin: largeSpacing 0
  border-bottom: 1px solid colorLightGray
