@import "standards.styl"

#claim-start-view
  width: maxLayoutWidthPx
  margin: largeSpacing auto
  padding: largeSpacing megaSpacing
  box-sizing: border-box
  background-color: colorWhite

  & .vfi-divider
    margin: largeSpacing 0
    border-bottom: 1px solid colorLightGray

  & .button-wrapper
    width: 100%
    height: largeSpacing
    margin-top: mediumSpacing

  & .vfi-next
    float: right
    background-color: colorYellow
    color: colorBlack
