@import "standards.styl"

linkIconWidthPx = 48px
linkIconHeightPx = 48px

#vfi-home-view
  & .banner-wrapper
    position: relative
    height: 360px
    background: colorPrimaryDarkBlue
    background-image: url('../icons/banner-child.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    border-bottom: 4px solid colorPrimaryBlue

    @media screen and (max-width: maxWindowWidthPx)
      background-position: -360px 0px
    @media screen and (max-width: minWindowWidthPx)
      height: 420px
      background-position: calc(100% + 240px)

  & .banner-overlay
    position: absolute
    bottom: 0
    width: 100%
    background-color: rgba(25, 25, 25, 0.8)

  & .headline-wrapper
    width: maxLayoutWidthPct
    max-width: maxLayoutWidthPx
    margin: 0 auto
    padding: smallSpacing
    color: colorWhite

    h3
      text-align: left
      line-height: 40px

      @media screen and (max-width: maxWindowWidthPx)
        text-align: center

      @media screen and (max-width: minWindowWidthPx)
        text-align: center
        line-height: h3_lineHeight
        font-size: h3_size
        margin-bottom: smallSpacing

    button
      display: inline-block
      background-color: colorYellow
      color: colorBlack

      @media screen and (max-width: maxWindowWidthPx)
        display: block
        margin: 0 auto

      @media screen and (max-width: minWindowWidthPx)
        display: block
        margin: 0 auto

  & .home-link
    display: block
    width: maxLayoutWidthPct
    max-width: maxLayoutWidthPx
    margin: largeSpacing auto
    color: colorWhite
    border: 2px solid colorPrimaryBlue

    &:hover
      filter: brightness(1.2)
      -webkit-filter: brightness(1.2)
      -moz-filter: brightness(1.2)
      -ms-filter: brightness(1.2)
      color: colorWhite
      text-decoration: none
      cursor: pointer

    & .title
      padding-left: largeSpacing
      line-height: 200%
      background-color: colorPrimaryBlue
      color: colorWhite
      text-align: left

      @media screen and (max-width: minWindowWidthPx)
        padding-left: 0
        text-align: center

    & .content
      background-color: colorWhite
      color: colorPrimaryBlue
      margin-left: 0px
      margin-right: 0px
      padding: mediumSpacing

      & p
        padding-left: smallSpacing

        @media screen and (max-width: minWindowWidthPx)
          margin-top: mediumSpacing
          padding-left: 0

    &.claim .icon
      width: linkIconWidthPx
      height: linkIconHeightPx
      margin: 0 auto
      background: url('../icons/docs-blue.svg')
      background-size: cover
      background-repeat: no-repeat

    &.faq .icon
      width: linkIconWidthPx
      height: linkIconHeightPx
      margin: 0 auto
      background: url('../icons/health-blue.svg')
      background-size: cover
      background-repeat: no-repeat
