@import "standards.styl"

body
	margin: 0
	background-color: colorWarmLightGray
	// default font
	font-family: SourceSansPro
	font-weight: bodyFont_weight
	font-size: bodyFont_size
	line-height: bodyFont_lineHeight

	& a
		color: colorRed
		text-decoration: none

		&:hover
			text-decoration: underline

	& button
		padding: 10px 20px
		background-color: colorPrimaryDarkBlue
		border: none
		outline: none
		color: white
		font-size: 14px
		letter-spacing: 1px

		&:hover
			filter: brightness(1.2)
			-webkit-filter: brightness(1.2)
			-moz-filter: brightness(1.2)
			-ms-filter: brightness(1.2)
			cursor: pointer

	& h1
		margin: 0
		font-family: Merriweather
		font-weight: heading_weight
		font-size: h1_size
		line-height: h1_lineHeight
		letter-spacing: h1_letterSpacing

	& h2
		margin: 0
		font-family: Merriweather
		font-weight: heading_weight
		font-size: h2_size
		line-height: h2_lineHeight
		letter-spacing: h2_letterSpacing

	& h3
		margin: 0
		font-family: Merriweather
		font-weight: heading_weight
		font-size: h3_size
		line-height: h3_lineHeight
		letter-spacing: h3_letterSpacing

	& h4
		margin: 0
		font-family: Merriweather
		font-weight: heading_weight
		font-size: h4_size
		line-height: h4_lineHeight
		letter-spacing: h4_letterSpacing

	& h5
		margin: 0
		font-family: Merriweather
		font-weight: heading_weight
		font-size: h5_size
		line-height: h5_lineHeight
		letter-spacing: h5_letterSpacing

	& h6
		margin: 0
		font-family: Merriweather
		font-weight: heading_weight
		font-size: h6_size
		line-height: h6_lineHeight
		letter-spacing: h6_letterSpacing

	& .vfi-lead
		margin: 0
		font-family: Merriweather
		font-weight: lead_weight
		font-size: lead_size
		line-height: lead_lineHeight
