@import "standards.styl"

leftSpacing = megaSpacing

#tos-view
  background-color: colorWarmLightGray

#tos-wrapper
  width: maxLayoutWidthPct
  max-width: maxLayoutWidthPx
  margin: megaSpacing auto
  padding-bottom largeSpacing
  background-color: colorWhite

  .vfi-title
    padding-top: miniSpacing
    padding-bottom: miniSpacing
    padding-left: (leftSpacing / 2)
    background-color: colorPrimaryBlue
    color: colorWhite

  .vfi-tos-scroller
    height: 250px
    padding: largeSpacing megaSpacing
    overflow-y: auto
    border-bottom: 1px solid colorLightGray

  .vfi-checkbox
    margin: largeSpacing 0 largeSpacing leftSpacing
    font-family: SourceSansPro
    font-weight: bodyFont_weight
    font-size: bodyFont_size
    line-height: bodyFont_lineHeight

    & input
      margin-right: mediumSpacing

  .vfi-accept-btn
    margin-left: (leftSpacing + smallSpacing)
    margin-right: megaSpacing
    background-color: colorPrimaryBlue

  .vfi-decline-btn
    background-color: colorLightGray
    color: colorBlack

  .vfi-error-msg
    margin-top: mediumSpacing
    margin-left: leftSpacing
    color: colorRed
